h1{
    font-family: "Verdana Arial", sans-serif;
    font-size: 40px;
    font-variant: small-caps;
}
h2{
    font-family:'Times New Roman''Georgia' , serif;
    font-style: italic;
    font-weight: 900;
}
h3{
    font-family: 'Lucida Console', monospace;
}
h4{
    font-family: cursive;
}